distribution/built/
ui/src/main/resources/matrixstudio/ui/version.properties

## IntelliJ ignore
out
*.iml
.idea

## Eclipse ignore
*.classpath
*.project
**/bin/*
**/.settings/*

## Gradle ignore
**/build/
.gradle

## Crash log
*.log
