distribution/built/
ui/src/main/resources/matrixstudio/ui/version.properties

## IntelliJ ignore
out
*.iml
.idea

## Eclipse ignore
**/bin
**/.settings
.classpath
.project

## Gradle ignore
**/build/
.gradle

## Crash log
*.log
